#postmeta {
  height: auto !important; }

#main_demo {
  width: 720px;
  margin: 0px auto 3em auto; }

#first {
  width: 960px;
  margin: 0 auto; }

circle.replica, circle.client {
  stroke: #333333;
  stroke-width: 2; }

text.replica-label {
  font-size: 10px;
  color: fuchsia; }

circle.message {
  stroke: #333333;
  stroke-width: 1; }

.link {
  stroke-width: 2px;
  stroke-linecap: round;
  stroke: #cccccc; }
  .link.message {
    stroke-dasharray: 5, 5; }
  .link.unknown {
    stroke: red; }

#read_demo {
  float: left; }

#client_demo {
  float: left; }

#prepare_demo {
  float: right; }

#promise_demo {
  float: left; }

#accept_demo {
  float: right; }

#prepare_wrong_demo, #prepare_right_demo {
  float: left;
  width: 300px; }

br.break {
  clear: both; }
